* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #ffffff;
}

.page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
 
}

.job-card {
  width: 320px;
  background: #ffffff;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  
  gap: 20px;
  transition: 0.3s;
  margin: 10px;
}

.job-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #eee;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 6px;
}

.save-btn {
  border: 1px solid #ddd;
  background: transparent;
  padding: 6px 14px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 13px;
}

.save-btn:hover {
  background: #f5f5f5;
}

.company {
  font-size: 13px;
  color: #777;
  margin-bottom: 6px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 6px;
  color: #111;
}

.meta {
  font-size: 14px;
  color: #555;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.salary {
  font-size: 18px;
  font-weight: 600;
  color: #111;
}

.location {
  font-size: 13px;
  color: #777;
}

.apply-btn {
  background: #111;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.apply-btn:hover {
  background: #000;
}
